.container {
  margin: 60px auto;
  border-radius: 15px;
  max-width: 575px;
  padding: 20px;
  border: none;
  background: radial-gradient(
    rgb(255, 255, 255) 0%,
    rgb(219, 241, 247) 37%,
    rgb(128, 224, 249) 67%,
    rgb(0, 204, 255) 100%
  );
  box-shadow: 8px 18px 100px 61px rgba(0, 204, 255, 0.3);
}
