.units {
  position: relative;
  font-size: small;
  color: #4f4f4f;
  bottom: 30px;
}

.fahrenheit,
.celsius {
  text-decoration: none;
}

.fahrenheit:hover {
  cursor: crosshair;
  color: #ffffff;
  text-decoration: none;
}

.celsius:hover {
  cursor: crosshair;
  color: #ffffff;
  text-decoration: none;
}
